*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*body*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(
        90deg, rgba(46,44,45,1) 0%,
        rgba(66,64,67,1) 100%);
    /* background-image: url("background/game-of-games_gross.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

/*Coin button*/ 
#hand-image img{
    display: none;
    width: 180px;
    position: absolute;
    left: -500px;
    top: 700px;
}
#flip {
    position: absolute;
    top: 210px;
    left: -460px;
    padding: 10px;
    background-color: skyblue;
    width: 80px;
    height: 40px;
    border-radius: 10%;
    /* margin-left: -460px; */
    text-align: center;
    cursor: pointer;
}
  
  #coin {
    position: absolute;
    top: 0px;
    left: -500px;
    width: 10rem;
    height: 10rem;
    margin: 2rem 0rem;
    transform-style: preserve-3d;
    /* margin-left: -500px; */
  }
  
  #coin div {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 50%;
    backface-visibility: hidden;
    background-size: contain;
    position: absolute;
  }
  
  .heads {
      background-image: url("images/Bitcoin.png");
  } /* https://en.numista.com/catalogue/photos/inde/2311-original.jpg */
  /* https://en.numista.com/catalogue/photos/inde/3165-original.jpg */
  
  .animate-heads {
    animation: flipHeads 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes flipHeads {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(1800deg);
    }
  }
  
  .tails {
      background-image: url("images/bitcoin.png");
    transform: rotateY(-180deg);
  }
  
  .animate-tails {
    animation: flipTails 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes flipTails {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(1620deg);
    }
  }
  
  

/*container for the divImage and H1*/
.container{
    width: 50em;
    height: 30em;
    border-radius: 10%;
    margin-top: 40px;
    outline: none;
    background: linear-gradient(
        145deg, #171717, #444245);
    border: 4px solid #090909;
    box-shadow: inset 2px 2px 0px #7d7c7e,
       inset -2px -2px 0px #1c1c1c;
    position: relative;
}
.container::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    background: linear-gradient(
        145deg, #262626, #606060
    );
    box-shadow: 11px 11px 22px #141414, 
       -11px -11px 22px #525252;
    width: 60em; /*52*/
    height: 31.5em;
    z-index: -1;
    
    /*image surrounding / underneath*/
    background-image: url('background/game-of-games_gross.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}
/*Where the game messages appear*/
h1{
    display: grid;
    justify-content: center;
    position: relative;
    top: 10px;
    color: white;
    /* font-family: 'Shojumaru', cursive; */
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
    min-width: 20px;

}
/*div for the random card-images*/
#divImage{
    margin: 60px 0 0 50px; /*70*/
    /* object-fit: contain; */
}


/*Buttons*/
button{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    min-width: 5em;
    min-height: 5em;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    margin: 1em 4em 0;
    outline: none;
    background: linear-gradient(
        145deg, #171717, #444245
    );
    color: whitesmoke;
    border: 4px solid #090909;
    box-shadow: inset 2px 2px 0px #7d7c7e,
       inset -2px -2px 0px #1c1c1c;
}
button::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    background: linear-gradient(
        145deg, #262626, #606060
    );
    box-shadow: 11px 11px 22px #141414, 
       -11px -11px 22px #525252;
    text-shadow: 0 0 5px;
    width: 6.25em;
    height: 6.25em;
    z-index: -1;

    /*image surrounding / underneath*/
    /* background-image: url('background/game-of-games_gross.jpg');
    background-repeat: repeat-y;
    background-size: cover; */
}
/*the class was created in Javascript*/
.button-clicked{
    background: linear-gradient(
        185deg, #131313, #444245
    );
    box-shadow: inset -2px -2px 0px #5e5e5e,
        inset 2px 2px 0px #1c1c1c ;
}


/* footer and every other properties in it */ 
footer{
    position: relative;
    bottom: -210px;
    font-size: 20px;
    color: whitesmoke;
    background: black;
    width: 100%;
    height: 25px;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(241, 86, 66);
}
i{
    margin-left: 10px;
}
.fa-linkedin{
    color: rgb(90, 90, 245);
}
.fa-github{
    color: white;
}
.fa-instagram{
    color: rgb(229, 147, 161);
}
.fa-youtube{
    color: red;
}
.fa-spotify{
    color: chartreuse;
}
.fa-tiktok{
    color: cadetblue;
}
